# ==============================
# DATA & STORAGE (NO SUBIR)
# ==============================
minio-data/
nessie-data/
logs/

# ==============================
# NOTEBOOKS
# ==============================
notebooks/.ipynb_checkpoints/
.ipynb_checkpoints/

# ==============================
# PYTHON
# ==============================
__pycache__/
*.pyc
*.pyo
*.pyd

# ==============================
# ENV VARIABLES & SECRETS
# ==============================
.env
.env.*
airflow.env

# ==============================
# VIRTUAL ENVS
# ==============================
.venv/
venv/
env/

# ==============================
# SYSTEM FILES
# ==============================
.DS_Store
Thumbs.db

# ==============================
# IDE / EDITORS
# ==============================
.vscode/
.idea/

# ==============================
# PROJECT SPECIFIC
# ==============================
notas.txt
data/